<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>当日数据</title>
    {% load static %}
</head>
<body>
<div>
    <div>
        <div style="text-align:center;background-color: #0c0c0c;color: white;">正在查看:{{ date_str }} {{ code }} </div>
    </div>
    <div id="chart0" style="height: 50%;"></div>
</div>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-y/echarts/5.3.0-rc.1/echarts.js"
        type="application/javascript"></script>
<script>
    var chartZhe = echarts.init(document.getElementById('chart0'), 'dark');
    //var chartZhu = echarts.init(document.getElementById('chart1'), 'dark');
    var matchprice_data = [];
    var matchvol_data = [];
    var mv_abs_data = [];
    var askvol_data = [];
    var av_abs_data = [];
    var time_data = [];
    var pricemax = 0;
    var pricemin = 9999;
    var matchincrease_data = [];
    var matchmoney_data = [];
    var hardenprice_data = [];
    var limitdownprice_data = [];
    var up_data = [];
    var down_data = [];
    var av_max = 0;
    var av_min = 0;
    var av_max_index = 0;
    var av_min_index = 0;
    var index = 0;
    {% for item in timelist %}
        time_data.push("{{ item }}")
    {% endfor %}
    {% for elem in queryset %}
        matchprice_data.push({{ elem.matchprice }});
        matchvol_data.push({{ elem.matchvol }});
        askvol_data.push({{ elem.askvol }});
        matchincrease_data.push({{ elem.matchincrease }});
        matchmoney_data.push({{ elem.matchmoney }});
    {% endfor %}
    let len = matchprice_data.length;
    for (let i = 0; i < len - 1; i++) {
        var mp = matchprice_data[i];
        var mv = matchvol_data[i];
        var av = askvol_data[i];
        if (mp > pricemax)
            pricemax = mp;
        if (mp < pricemin)
            pricemin = mp;
        if (mv < 0)
            mv_abs_data.push(-mv);
        else
            mv_abs_data.push(mv);
        if (av < 0)
            av_abs_data.push(-av);
        else
            av_abs_data.push(av);
        if (av > av_max) {
            av_max = av;
            av_max_index = index;
        }
        if (av < av_min) {
            av_min = av;
            av_min_index = index;
        }
        index = index + 1;
    }
    var maxval = pricemax;
    var minval = pricemin;
    if (pricemin > 0.2)
        pricemin = pricemin - 0.2;
    else
        pricemin = 0;
    var mp_time_data = [];
    var mv_time_data = [];
    var av_time_data = [];
    for (let i = 0; i < len - 1; i++) {
        mp_time_data.push([time_data[i], matchprice_data[i]]);
        mv_time_data.push([time_data[i], mv_abs_data[i]]);
        av_time_data.push([time_data[i], av_abs_data[i]]);
    }

    const colors = ['#ffffff', '#42d338', '#e11b1b', '#c5ce38', '#00DDFF', '#37A2FF', '#FFBF00'];
    const grad_colors = ['#e53434', '#940ec5', '#ecec2c', '#1fc6ea'];
    var option0 = {
        backgroundColor: '#000000',
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            },
            position: function (point, params, dom) {
                return ['0%', '0%'];
            },
            backgroundColor: '#000000',
            formatter: function (params) {
                //console.log(params);
                var mi_color = colors[0];
                if (matchincrease_data[params[0].dataIndex] > 0)
                    mi_color = colors[2];
                else if (matchincrease_data[params[0].dataIndex] < 0)
                    mi_color = colors[1];
                else
                    mi_color = colors[0];
                var mv_color = colors[0];
                var av_color = colors[0];
                if (askvol_data[params[0].dataIndex] > 0)
                    av_color = colors[2];
                else if (askvol_data[params[0].dataIndex] < 0)
                    av_color = colors[1];
                else
                    av_color = colors[0];
                let res;
                var timelist = params[0].axisValueLabel.split(' ');
                var time = timelist[1];
                res = '<div>' +
                    '<div class="echarts-bar-tooltip" style="text-align: left; color: white">时间:</div>' + '<div style="color: #c5ce38;text-align: right">' + time + '</div>' +
                    '<div style="text-align: left;color: white">匹配价格:</div>' + '<div style="color: #c5ce38;text-align: right">' + matchprice_data[params[0].dataIndex] + '</div>' +
                    '<div style="text-align: left;color: white">竞价涨幅 :</div>' + '<div style="color:' + mi_color + ';text-align: right">' + matchincrease_data[params[0].dataIndex] + '%</div>' +
                    '<div style="text-align: left;color: white">竞价量 :</div>' + '<div style="color: #c5ce38;text-align: right">' + matchvol_data[params[0].dataIndex] + '</div>' +
                    '<div style="text-align: left;color: white">竞价金额 :</div>' + '<div style="color: #c5ce38;text-align: right">' + matchmoney_data[params[0].dataIndex] + '</div>' +
                    '<div style="text-align: left;color: white">未匹配量:</div>' + '<div style="color:' + av_color + ';text-align: right">' + askvol_data[params[0].dataIndex] + '</div>' +
                    '<div style="text-align: left;color: #1fc6ea">开盘价格:</div>' + '<div style="color: #c5ce38;text-align: right">' + matchprice_data[len - 1] + '</div>' +
                    '<div style="text-align: left;color: #1fc6ea">开盘涨幅 :</div>' + '<div style="color:' + '#c5ce38' + ';text-align: right">' + matchincrease_data[len - 1] + '%</div>' +
                    '<div style="text-align: left;color: #1fc6ea">开盘量 :</div>' + '<div style="color: #c5ce38;text-align: right">' + matchvol_data[len - 1] + '</div>' +
                    '<div style="text-align: left;color: #1fc6ea">开盘金额 :</div>' + '<div style="color: #c5ce38;text-align: right">' + matchmoney_data[len - 1] + '</div>' +
                    '</div>';
                return res;
            }
        },
        axisPointer: { // 同时出现提示竖线
            link: {xAxisIndex: 'all'}
        },
        legend: {
            data: ["最大匹配价格", "最小匹配价格"]
        },
        toolbox: {
            show: true,
            orient: 'horizontal',      // 布局方式，默认为水平布局，可选为：
                                       // 'horizontal' ¦ 'vertical'
            x: 'right',                // 水平安放位置，默认为全图右对齐，可选为：
                                       // 'center' ¦ 'left' ¦ 'right'
                                       // ¦ {number}（x坐标，单位px）
            y: 'top',                  // 垂直安放位置，默认为全图顶端，可选为：
                                       // 'top' ¦ 'bottom' ¦ 'center'
                                       // ¦ {number}（y坐标，单位px）
            color: ['#1e90ff', '#22bb22', '#4b0082', '#d2691e'],
            backgroundColor: 'rgba(0,0,0,0)', // 工具箱背景颜色
            borderColor: '#ccc',       // 工具箱边框颜色
            borderWidth: 0,            // 工具箱边框线宽，单位px，默认为0（无边框）
            padding: 5,                // 工具箱内边距，单位px，默认各方向内边距为5，
            showTitle: true,
            feature: {
                restore: {
                    show: true,
                    title: '还原',
                    color: 'black'
                },
            }
        },
        calculable: true,
        dataZoom: [
            {
                type: 'slider',
                show: true,
                realtime: true,
                start: 0,
                end: 100,
                xAxisIndex: [0, 1, 2],
            },
            {
                type: 'inside',
                show: true,
                realtime: true,
                start: 0,
                end: 100,
                xAxisIndex: [0, 1, 2],
            },
        ],
        xAxis: [
            {
                name: '',
                type: 'time',
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'dotted'
                    }
                },
                axisLine: {
                    show: false,
                },
                axisTick: {
                    show: false,  //刻度线
                },
                axisLabel: {
                    show: false,//刻度标签
                },
                axisPointer: {
                    show: true,
                    type: 'line',
                    // 坐标轴指示器的文本标签设置
                    label: {
                        show: false, // 是否显示文本标签。如果 tooltip.axisPointer.type 设置为 'cross' 则默认显示标签，否则默认不显示
                    },
                }
            },
            {
                name: '',
                type: 'time',
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'dotted'
                    }
                },
                axisLine: {
                    show: true, //隐藏y轴
                    lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'solid'
                    }
                },
                axisTick: {
                    show: false,  //刻度线
                },
                axisLabel: {
                    show: false,//刻度标签
                },
                gridIndex: 1,
                position: 'top',
                axisPointer: {
                    show: true,
                    type: 'line',
                    // 坐标轴指示器的文本标签设置
                    label: {
                        show: false, // 是否显示文本标签。如果 tooltip.axisPointer.type 设置为 'cross' 则默认显示标签，否则默认不显示
                    },
                }
            },
            {
                name: '时间',
                type: 'time',
                gridIndex: 2,
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'dotted'
                    }
                },
            },
        ],
        yAxis: [
            {
                name: '',
                type: 'value',
                max: pricemax * 1.5 - pricemin * 0.5,
                min: pricemin,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'dotted'
                    }
                },
                axisLabel: {
                    formatter: function (value, index) {
                        return value.toFixed(2);
                    }
                },
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'solid'
                    }
                },
            },
            {
                name: '',
                type: 'value',
                gridIndex: 1,
                inverse: true,
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'solid'
                    }
                },
            },
            {
                name: '',
                type: 'value',
                gridIndex: 2,
                splitLine: {
                    show: true, lineStyle: {
                        color: ['red'],
                        width: 0.4,
                        type: 'solid'
                    }
                },
            },
        ],
        grid: [{ // 调整每个图表的位置
            top: '3%',
            bottom: '66%',
            left: 88,
        }, {
            top: '36%',
            bottom: '38%',
            left: 88,
        },
            {
                top: '66%',
                bottom: '10%',
                left: 88,
            },],
        series: [
            {
                data: mp_time_data,
                type: 'line',
                name: '匹配价格',
                lineStyle: {
                    color: colors[0],
                    width: 0.5,
                },
                itemStyle: {  //设置鼠标移入样式
                    normal: {
                        color: '#23a7e0',//外框颜色

                    }, emphasis: {
                        color: "#ecec2c",//移入后的颜色
                    }
                },
                showSymbol: true,
                symbol: 'circle',  //设定为实心点
                symbolSize: 4,   //设定实心点的大小
            },
            { //这两组数据用来模拟markLine线段开关
                name: '最大匹配价格',
                type: 'line',
                markLine: {
                    data: [
                        {
                            name: '最大匹配价格',
                            yAxis: maxval,
                        }
                    ]
                }
            },
            {
                name: '最小匹配价格',
                type: 'line',
                markLine: {
                    data: [
                        {
                            name: '最大匹配价格',
                            yAxis: minval,
                        }
                    ]
                }
            },
            {
                name: '匹配数量',
                type: 'bar',
                showSymbol: false,
                data: mv_time_data,
                itemStyle: {
                    normal: {
                        color: function (farams) {
                            if (matchvol_data[farams.dataIndex] > 0) { //根据真实数值正负显示不同柱形颜色
                                return colors[2];
                            } else {
                                return colors[1];
                            }
                        }
                    }
                },
                xAxisIndex: 2,
                yAxisIndex: 2
            },
            {
                name: '未匹配数量',
                type: 'bar',
                showSymbol: false,
                data: av_time_data,
                itemStyle: {
                    normal: {
                        color: function (farams) {
                            if (len > 2 && farams.dataIndex === av_max_index) {
                                if (av_max_index === len - 2)
                                    return new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                        offset: 0,
                                        color: grad_colors[1],
                                    }, {
                                        offset: 0.5,
                                        color: "white",
                                    }, {
                                        offset: 1,
                                        color: grad_colors[0],
                                    }], false)
                                else {
                                    return new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                        offset: 0,
                                        color: grad_colors[1],
                                    }, {
                                        offset: 1,
                                        color: grad_colors[0],
                                    }], false)
                                }
                            } else if (len > 2 && farams.dataIndex === av_min_index) {
                                return new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                    offset: 0,
                                    color: grad_colors[3],
                                }, {
                                    offset: 1,
                                    color: grad_colors[2],
                                }], false)
                            } else if (askvol_data[farams.dataIndex] > 0) {
                                return colors[2];
                            } else {
                                return colors[1];
                            }
                        }
                    }
                },
                xAxisIndex: 1,
                yAxisIndex: 1
            },
        ],
    };
    chartZhe.setOption(option0, true);
    let height = window.innerHeight - 20;
    let width = window.innerWidth - 12;
    chartZhe.resize({height: height, width: width});
    window.addEventListener("resize", function () {
        let height = window.innerHeight - 20;
        let width = window.innerWidth - 12;
        chartZhe.resize({height: height, width: width});
    });

</script>

</body>
</html>